<div class="container">
    <div class="jumbotron bg-transparent">
        <div class="review m-auto">
            <div class="review__creation p-2">
                <p> {{ item.time_created }} </p>
                <p> {{ item.user }} a publié une critique <br><br>
                    {{ item.accroche }} -
                    {% if item.note == 0 %}
                        <span style="font-size:150%;color:rgb(0, 0, 0);">&#x2606;</span>
                        <span style="font-size:150%;color:rgb(0, 0, 0);">&#x2606;</span>
                        <span style="font-size:150%;color:rgb(0, 0, 0);">&#x2606;</span>
                        <span style="font-size:150%;color:rgb(0, 0, 0);">&#x2606;</span>
                        <span style="font-size:150%;color:rgb(0, 0, 0);">&#x2606;</span>
                    {% elif item.note == 1  %}
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&#x2605;</span>
                    {% elif item.note == 2  %}
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                    {% elif item.note == 3  %}
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                    {% elif item.note == 4  %}
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                    {% elif item.note == 5  %}
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                        <span style="font-size:150%;color:rgb(255, 230, 0);">&starf;</span>
                    {% endif %}
                    <br><br>
                    {{ item.critique }} 
                </p>
                <button>
                    <a class="nav-link" href="{% url 'edit-review' item.id %}">Modifier ma critique</a>
                </button>
                <button class="delete_post">
                    <a class="nav-link" href="{% url 'delete-review' item.id %}">Supprimer ma critique</a>
                </button>
            </div>
            <div class="container w-auto">
                {% include 'ticket_from_review.html' %}
            </div>
        </div>
    </div>
</div>