<div class="container">
    <div class="jumbotron bg-transparent">
        <div class="ticket m-auto">
            <p> {{ item.time_created }} </p><p>{{ item.user }} a demandé une critique <br>
                {{ item.titre }} <br>
                {{ item.description }}
                {% if item.image %}
                    <img src="{{ item.image.url }}">
                {% endif %}
            </p>
            <p> {% if item.user == request.user %}
                    <button>
                        <a class="nav-link" href="{% url 'edit-ticket' item.id %}">Modifier ma demande</a>
                    </button>
                    <button class="delete_post">
                        <a class="nav-link" href="{% url 'delete-ticket' item.id %}">Supprimer ma demande</a>
                    </button>
                {% endif %}
            </p>
        </div>
    </div>
</div>
