{% extends 'base.html' %}
{% block content %}
<div class="jumbotron bg-transparent">
    <h2>Suivre d'autres utilisateurs</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Confirmer</button>
    </form>
    <br>
    <br>
    <div class="container">
        <h2>Abonnements</h2>
        {% if following|length == 0 %}
            <br>
            <h1>{{ message }}</h1>
            <br>
        {% endif %}
        {% for user in following %}
        <li>{{ user.followed_user.username }} :</li>
        <div class="following">
            <button>
                <a class="nav-link" href="{% url 'delete-user-follow' user.followed_user.id %} " >Se désabonner</a>
            </button>
        </div>
        {% endfor %}
        <h2>Abonnés</h2>
        {% if followed_by|length == 0 %}
            <br>
            <h1>{{ message }}</h1>
            <br>
        {% endif %}
        <div class="follower">
            {% for user in followed_by %}
                <li>{{user.user.username}}</li>
            <br>
            {% endfor %}
            </p>
        </div>
        <br>
    </div>
</div>
{% endblock content %}